body {
    background-color: lightblue;
}

.card {
    background-color: lightslategray;
}

.extra-form-style {
    font-size:17px;
    font-weight:bold;
}

.slogan {
    color:white;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;

}