body {
    
}

.card {
    background-color: rgb(173, 185, 197);
}

.extra-form-style {
    font-size:17px;
    font-weight:bold;
}

.slogan {
    color:white;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;

}

